{
  "metrics-addr" : "{{ docker_metrics_addr_host }}:{{ docker_metrics_addr_port }}",
  "experimental" : {% if docker_experimental is defined and docker_experimental %}true{% else %}false{% endif %},
  "log-driver":"{{ docker_log_driver }}",
  "log-opts": {
      {% if docker_log_opts is defined %}
        {% for key, value in docker_log_opts.items() %}
        "{{ key }}":"{{ value }}"{}{{ "," if not loop.last }}

        {% endfor %}
      {% endif %}
  }
}